html {
    background-color: white
}
body {
    width: 75%;
   margin: 0 auto; 

   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background-color: white;
}
h1 {
    text-align: left;
    font-size: 65px;
    margin: 50px;
}
h2 {
    text-align: left;
   font-size: 40px;
   margin: 50px;
}